<!DOCTYPE html>
<html>

<head>
    <title>Contact</title>
</head>

<body>
    {% include 'navbar.html' %} {% block content %} replace text {% endblock %}
    <br>
    <a href="http://127.0.0.1:8000">Go to Home</a>
</body>

</html>