<h1>Hello, {{request.user}}
</h1>
<h2>
    This is a django-test-app.
</h2>
<a href="http://127.0.0.1:8000/polls"> Go to the polls </a>

<br>
<br>

<a href="http://127.0.0.1:8000/contact"> Contact me </a>