<!DOCTYPE html>
<HTML>

<head>
    <meta charset="utf-8">
</head>

<body>
    {% include 'navbar.html' %}
    <h1>The Question was: {{ question.question_text }}</h1>

    <ul>
        {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
        {% endfor %}
    </ul>

    <h2>
        <a href="http://127.0.0.1:8000">go to home</a>
    </h2>
    <a href="{% url 'polls:detail' question.id %}">Vote again?</a>
    <br><br>

</body>

</HTML>